:root
    --bg: #9609a359

@-webkit-keyframes tiembla
  0%  
    -webkit-transform: rotateZ(-2deg)
  50% 
    -webkit-transform: rotateZ( 0deg) scale(1.02)
  100%
    -webkit-transform: rotateZ( 2deg)

@keyframes move
    0%
        transform: translateX(-12px)
    100%
        transform: translateX(0)

::-webkit-scrollbar
    width: 10px
    height: 10px

::-webkit-scrollbar-button
    width: 0px
    height: 0px

::-webkit-scrollbar-thumb
    background: #5c00c2
    border: 2px solid #1b0123
    border-radius: 0px

::-webkit-scrollbar-thumb:hover
    background: #5c00c2

::-webkit-scrollbar-thumb:active
    background: #5c00c2

::-webkit-scrollbar-track
    background: #26053d
    border: 0px none #ffffff
    border-radius: 48px

::-webkit-scrollbar-track:hover
    background: #1b051f

::-webkit-scrollbar-track:active
    background: #333333

::-webkit-scrollbar-corner
    background: transparent

*
    box-sizing: border-box

body
    padding: 25px 0 65px 0
    font-family: sans-serif
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.616)), url(./img/bg.jpg)
    background-size: cover

.contenedor
    width: 900px
    max-width: 95%
    margin: auto

header
    background-color: #c20000
    padding: 15px
    border-bottom: 2px solid #fff
    h1
        color: #fff
        font-size: 1.4rem
        text-align: center
    p
        color: #fff
        font-weight: bold
        background-color: #940505
        padding: 10px 15px
        border-radius: 6px

.botones
    padding: 20px
    margin-bottom: 50px
    border-radius: 0 0 8px 8px
    background: #5b00c22d
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    gap: 20px
    min-height: 200px
    transition: box-shadow .2s
    &:hover
        -webkit-box-shadow: 0px 0px 80px 14px rgba(255, 46, 46, 0.9)
        -moz-box-shadow: 0px 0px 80px 14px rgba(255, 46, 46, 0.9)
        box-shadow: 0px 0px 32px 14px rgba(255, 46, 46, 0.9)
    button
        padding: 18px 18px
        border-radius: 4px
        border: none
        outline: none
        background: none
        color: #fce0b9
        transition: background .2s
        &:hover
            img
                transform: scale(1.1)
                cursor: pointer
        img
            width: 100px
            transition: transform .2s
            filter: drop-shadow(0 2px 5px rgb(255, 0, 0))
#mensaje
    margin-top: 20px
    background: var(--bg)
    color: #ffffff
    padding: 20px
    height: 350px
    overflow-y: auto
    border-radius: 6px
    display: flex
    justify-content: flex-start
    flex-direction: column
    gap: 20px
    div
        background: #ffedd3
        color: #000
        padding: 14px
        border-radius: 8px
        line-height: 33px
        font-size: 22px
        transition: background .2s
        &:hover
            background: #49006d
            color: #fff
            cursor: pointer
footer
    color: #ffffff
    background: #2c074b
    position: fixed
    display: flex
    justify-content: center
    flex-flow: row wrap
    gap: 5px
    width: 100vw
    text-align: center
    padding: 15px
    bottom: 0
    left: 0
    z-index: 1000
    a
        text-decoration: none
        color: #fff
        font-style: italic
        display: inline-block
        transition: transform .2s ease
        &:hover
            transform: translateX(2px)
            cursor: pointer
            text-decoration: underline

.mensaje
    animation: move .2s

@media  screen and (max-width: 380px)
    .botones
        padding: 0
        gap: 12px
        button
            padding: 0
            img
                width: 50px

    #mensaje
        div
            font-size: 16px
            font-weight: bold
